<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" style="color:#404040; font-weight: bold;" href="{{ site.baseurl }}/">Hyewon Choi</a>
	&nbsp;&nbsp;
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="page-link" href="/docs/hw_choi.pdf">Resume</a>
      </div>
    </nav>

  </div>

</header>
